.users{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.getbutton{
    color: #ffff;
    background-color: darkslateblue;
    width: 90px;
    height: 38px;
    border-radius: 10px;
}
.inputclass{
    width: 250px;
    height: 38px;
    border-radius: 10px; 
}